/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html,
body {
  height: 100%;
}

@theme {
  --breakpoint-xxs: 18rem;
  --breakpoint-xs: 24rem;
}

.drag-handle {
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}

::placeholder {
  color: grey;
}
